<template>
    <div class="wrapper">
      <text-input v-model="phone"
                  :mask="{ mask: '+7 000 000 00-00'}"
                  >
        Тест ввода телефона
      </text-input>
      <text-input v-model="text"
                  :mask="{ mask: String }"
                  :validation="{
                    text: 'Да ебись конем, ты че, даун - такую хуету писать?',
                    pattern: /.{3}/
                  }"
                  >
        Тест заполнения обычного текста
      </text-input>
      <text-input v-model="range"
                  :mask="{mask: Number, min: 3000, max: 200000, thousandsSeparator: ' '}"
                  >
        Тест ввода значения в рамках
      </text-input>
    </div>
</template>

<script>

import TextInput from "../components/TextInput.vue";

export default {
  components: {
      TextInput,
  },

  data() {
    return {
      phone: '234423',
      range: '10000',
      text: '',
    }
  },

  methods: {
    check(val) {
      console.log(val)
    }
  }
}
</script>

<style lang="scss">
    
</style>