<template>
  <div class="text-input-wrapper">
    <div class="text-input">
      <input :id="uniq_id"
             type="text"
             v-model="input_ch_value.value"
             @change="changeStates('change')"
             @input="changeStates('input')"
             @blur="changeStates('blur'), toggleFocus()"
             @focus="toggleFocus()"
             >
      <label :for="uniq_id">
        <slot></slot>
      </label>
    </div>
    <transition name="input-text-validation-animation"
                class="input-text-validation"
         v-if="validation.text && class_flags.error">
      {{ validation.text }}
    </transition>
  </div>
</template>

<script>

import { createMask } from "imask";

export default {

  props: {
    mask: {
      type: Object,
      default: ()=>({}),
    },
    validation: {
      type: Object,
      default: ()=>({}),
    },
    value: {
      type: String,
      default: '',
    }
  },
  // todo: обработать начало рендж ввода минимального значения в changeStates
  data() {
    return {
      // изменяемое значение
      ch_value: '', 
      // рандомный id для label и прочей ебалистики в логике инпута
      ready_mask: this.prepareMask(),
      // маска и значение
      input_ch_value: createMask(this.ready_mask),
      // уникальный id
      uniq_id: this.uniqId(),
      // костылизация маски
      min: null, 
      // та херабора что будет присваиваться выходному значению 
      // в зависимости от необходимости
      output_ch_value: '',
      // классы
      class_list: '',
      // флаги классов
      class_flags: {
        active: false,
        error: false,
        focus: false,
      },
    }
  },

  created() {
    this.input_ch_value.resolve(this.value);
  },

  methods: {
    uniqId() {
      let randSt = ()=>{
        return Math.random()
          .toString(36)
          .replace(/\d/g, '')
          .substring(7);
      }
      let id = '';
      while (id.length < 32) {
        id +=randSt();
      }
      return id;
    },

    prepareMask() {
      const {min, max, mask, thousandsSeparator} = this.mask;
      if (!min) {
        this.ready_mask = this.mask;
        return this.ready_mask;
      }
      else if (min) {
        let clone = JSON.stringify(this.mask);
        this.ready_mask = this.mask;
        (async ()=>{
          await delete this.ready_mask.min;
        })().then(()=>{
          this.min = JSON.parse(clone).min;
        })
        return this.ready_mask;
      }
    },

    transferToNumber (inp_ch_value, val_out) {
      let inp = parseInt(inp_ch_value.replace(/\s/g, ''));
      let out = parseInt(val_out.replace(/\s/g, ''));

      if (transferToNumber(inp) < this.mask.min) {
        this.ch_value = this.mask.min;
      }
      else if (transferToNumber(inp) > this.mask.max) {
        this.ch_value = this.mask.max;
      }
    },

    changeStates(event_type) {
      let val = this.input_ch_value.value;
      this.ch_value = val;
      let min = this.min;
      
      if (min) {
        let current = parseInt(this.input_ch_value.unmaskedValue);
        if (current < min) {
          this.$emit(event_type, ''+min);
          if (event_type == 'blur') {
            this.input_ch_value.value = ''+min;
          }
        }
        else {
          this.$emit(event_type, this.input_ch_value.unmaskedValue);
        }
      }
      else {
        this.$emit(event_type, this.input_ch_value.unmaskedValue);
      }
    },

    toggleFocus() {
      let focusobj = {focus: !this.class_flags.focus};
      if (this.validation.text && this.validation.pattern) {
        focusobj.error = !this.validation.pattern
                          .test(this.input_ch_value.unmaskedValue);
      }
      this.class_flags = Object.assign(this.class_flags, focusobj);
    }
  }

}

</script>

<style lang="scss" scoped>


  .input-text-validation-animation-enter-active,
  .input-text-validation-animation-leave-active {
    transition: .5s;
  }
  .input-text-validation-animation-enter,
  .input-text-validation-animation-leave-to {
    opacity: 0;
    max-height: 0;
  }
</style>