@font-face {
    font-family: 'Open Sans';
    src: url('~@/assets/Fonts/OpenSans-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('~@/assets/Fonts/OpenSans-Light.woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('~@/assets/Fonts/OpenSans-SemiBold.woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url('~@/assets/Fonts/OpenSans-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('~@/assets/Fonts/OpenSans-ExtraBold.woff');
    font-weight: 800;
}