<template>
  <div id="app">
    <div id="nav" class="left-navbar">
      
      <router-link to="/home">
        Home
      </router-link>
      
      <router-link to="/main">
        Main
      </router-link>

    </div>
    <router-view/>
  </div>
</template>

<script>
// TODO: разобраться с object svg связкой
// Придумать как быстро добавлять svg в проект через линк
// Обжимка svg на стороне сервака (запрос к django)
import "./js/svg";

export default {
  
}
</script>

<style lang="scss">
  #app {
    display: flex;
  }

  .left-navbar {
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }


</style>
